<div class="header">
    <div class="container d-flex jcsb">
        <img src="https://i.imgur.com/5clk4Tc.png" alt="header logo" class="headerLogo">
        <ul class="headerMenu d-flex jcsb">
            <li>
                <a href="#" class="p3">
                    系列鏡框
                </a>
            </li>
            <li>
                <a href="#" class="p3">
                    門市據點
                </a>
            </li>
            <li>
                <a href="#" class="p3">
                    部落格
                </a>
            </li>
            <li>
                <a href="#" class="p3">
                    常見問題
                </a>
            </li>
        </ul>
    </div>
</div>