<div class="header pt-16 pb-15">
    <div class="container d-flex jcsb aic">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="header logo" class="headerLogo">
        <ul class="headerMenu d-flex jcsb">
            <li class="style1">
                <a target="_blank" href="#" class="allProduct p3 py-8">
                    系列鏡框
                </a>
            </li>
            <li class="style2">
                <a target="_blank" href="#" class="p3 py-8">
                    門市據點
                </a>
            </li>
            <li class="style1">
                <a target="_blank" href="#" class="p3 py-8">
                    部落格
                </a>
            </li>
            <li class="style2">
                <a target="_blank" href="#" class="p3 py-8">
                    常見問題
                </a>
            </li>
        </ul>
    </div>
</div>