@import './layout/header.scss';
@import './layout/footer.scss';


@import './pages/index.scss';
@import './pages/product.scss';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
PS：CSS 樣式：先看權重再看先後（跨檔案的css 也是一樣）
HTML標籤選擇棄：1分 h1{ } a{ } p{ } div{ } span{ }
類別選擇器：10分 .header{ } .title{ }
ID 選擇器：100分 #word(在html 為id="word")
style 樣式選擇器：1000分 在html 標籤內寫style 樣式，如：<h1 style="color: pink";font-size: 60px;>
PS：style 樣式通常拿來做動畫用，如jQuery
!important：10000分 例：a{ color: red !important; }
*/
/*
1.響應式網頁一定要加的img reset
img{
	max-width: 100%;
	height: auto;
}
2.
*/

img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	/*
	用以保持既有圖片的寬度
	*/
}
*,*::before,*::after{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto','Noto Sans TC', sans-serif;
	line-height: 1.5;
}
.container{
	max-width: 1296px;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.container{
		padding: 0 36px;
	}
}
@media (max-width: 375px) {
	.container{
		padding: 0 14px 0 13px;
	}
}
.d-flex{
	display: flex;
}
.fdcol{
	flex-direction: column;
}
.jcsb{
	justify-content: space-between;
}
.jcc{
	justify-content: center;
}
.aic{
	align-items: center;
}
.as-end{
	align-self: flex-end;
}
.as-center{
	align-self: center;
}
.text-align-r{
	text-align: right;
}
.text-align-c{
	text-align: center;
}
.py-296{
	padding: 296px 0;
}
.py-80{
	padding: 80px 0;
}
.py-32{
	padding: 32px 0;
}
.py-24{
	padding: 24px 0;
}
.py-16{
	padding: 16px 0;
}
.py-12{
	padding: 12px 0;
}
.py-8{
	padding: 8px 0;
}
.py-6{
	padding: 6px 0;
}
.px-176{
	padding: 0 176px;
}
.p-16{
	padding: 16px;
}
.pt-80{
	padding-top: 80px;
}
.pt-48{
	padding-top: 48px;
}
.pt-16{
	padding-top: 16px;
}
.pt-8{
	padding-top: 8px;
}
.pt-6{
	padding-top: 6px;
}
.pb-106{
	padding-bottom: 106px;
}
.pb-80{
	padding-bottom: 80px;
}
.pb-15{
	padding-bottom: 15px;
}
.pl-12{
	padding-left: 12px;
}
.mb-80{
	margin-bottom: 80px;
}
.mb-72{
	margin-bottom: 72px;
}
.mb-64{
	margin-bottom: 64px;
}
.mb-48{
	margin-bottom: 48px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-32{
	margin-bottom: 32px;
}
.mb-24{
	margin-bottom: 24px;
}
.mb-16{
	margin-bottom: 16px;
}
.mb-8{
	margin-bottom: 8px;
}
.mb-4{
	margin-bottom: 4px;
}
.mx-32{
	margin: 0 32px;
}
.mr-22{
	margin-right: 22px;
}
.mr-20{
	margin-right: 20px;
}
h1,h2,h3{
	font-weight: bold;
}
h1{
	font-size: 64px;
	color: #650300;
}
h2{
	font-size: 48px;
	color: #650300;
}
h3{
	font-size: 48px;
	color: #FFFFFF;
}
.fs-42{
	font-size: 42px;
}
.fs-36{
	font-size: 36px;
}
.fs-32{
	font-size: 32px;
}
.fs-24{
	font-size: 24px;
}
.fs-20{
	font-size: 20px;
}
.fs-19{
	font-size: 19px;
}
.fs-18{
	font-size: 18px;
}
.fs-16{
	font-size: 16px;
}
.fs-14{
	font-size: 14px;
}
.fs-4{
	font-size: 4px;
}
body a{
	text-decoration: none;
	display: block;
	word-wrap: break-word;
}
body a:hover{
	color: #650300;
	filter: drop-shadow(0 0 16px #650300);
}