//google font icon
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 40;
}

.footer{
	background-color: #AA0601;
}
.footer a{
	color: #FFFFFF;
}
.footerMenu{
	width: 36.478%;
	// width: 464px;
}
.footerContacticon{
	// width: 16.3525%;
	width: 208px;
}
.footerContacticon a{
	width: 48px;
	height: 48px;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}
.footer .fb{
	background: url(https://i.imgur.com/mGQULfk.png) center center no-repeat;
}
.footer .ig{
	background: url(https://i.imgur.com/c5zyRiP.png) center center no-repeat;
}
.footer .line{
	background: url(https://i.imgur.com/F2aUd0h.png) center center no-repeat;
}
.footer .tel a{
	display: inline;
}
.tel span{
	font-size: 36px;
	color: #FFFFFF;
}
.footer .mail a{
	display: inline;
}
.mail span{
	font-size: 36px;
	color: #FFFFFF;
}
.bottom{
	border-top: 1px solid #fff;
}
.bottom p{
	line-height: 21px;
	color: #FFFFFF;
}
.bottomItem{
	width: 174px;
}
@media (max-width: 768px) {
	.footerContacticon{
		width: 152px;
	}
	.footerContacticon a{
		width: 40px;
		height: 40px;
	}
	.footerMenu{
		width: 66.66667%;
		// width: 464px;
	}
	.footer .fb{
		background-size: contain;
	}
	.footer .ig{
		background-size: contain;
		margin: 0 16px;
	}
	.footer .line{
		background-size: contain;
	}
}
@media (max-width: 375px) {
	.wrap.footer{
		padding-top: 24px;
	}
	.footer .container{
		padding: 0 14px 0 16px;
	}
	.footerContacticon{
		width: 88px;
	}
	.footer .ig{
		background-size: contain;
		margin: 0 8px;
	}
	.footerContacticon a{
		max-width: 24px;
		height: 24px;
	}
	.phone{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.footer .footerMenu{
		display: none;
	}
	.footer a{
		font-size: 16px;
	}
	.footer .tel{
		margin-bottom: 8px;
	}
	.footer .mail{
		margin-bottom: 24px;
	}
	.footer .tel span{
		font-size: 18px;
	}
	.footer .mail span{
		font-size: 20px;
	}
	.footer .bottom{
		flex-direction: column;
		align-items: flex-start;
		padding: 15px 0 16px 0;
	}
	.bottom p{
		line-height: 1.5;
	}
	.bottom .bottomItem{
		flex-direction: column;
		align-items: flex-start;
	}
	.bottomItem a{
		font-size: 16px;
	}
	.bottom p,.bottom .bottomItem a{
		margin-bottom: 8px;
	}
}