//classic
.choiceMenu{
	padding: 0;
}
.productType li{
	width: 33.333333%;
	border: 1px solid #DCDCDC;
	border-width: 0 1px;
}
.productType a{
	color: #000000;
	font-weight: 500;
}
.productType a:hover{
	filter: drop-shadow(0 0 0 #FFFFFF);
	padding-bottom: 16px;
	border-bottom: 8px solid #AA0601;
}
@media (max-width: 768px){
    .wrap .container.choiceMenu{
        padding: 0;
    }
	.productType a{
		font-size: 24px;
	}
}
@media (max-width: 375px) {
	.productType a{
		font-size: 16px;
		padding: 12px 0;
	}
	.productType a:hover{
		padding-bottom: 4px;
	}
}
.banner-p{
	max-width: 1920px;
    max-height: 296px;
    margin: 0 auto;
}
@media (max-width: 768px){
	.banner-p{
		max-width: 1138px;
        max-height: 296px;
	}
    .classic .item1 img{
        content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true);
    }
    .classic .item2 img{
        content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true);
    }
}
.classProduct h2{
	font-weight: 500;
	color: #000000;
}
.classProductList{
	flex-wrap: wrap;
}
.classProductList .list{
	width: 23.6112%;
}
.listItem a:hover{
	filter: drop-shadow(0 0 0 #FFFFFF);
	box-shadow: 0 0 4px 1px #000000;
}
.listItem .productPrice{
	color: #AA0601;
	font-weight: 500;
}
.listItem input{
	width: 24px;
	height: 24px;
	border-radius: 4px;
}
.listItem input:hover{
	cursor: pointer;
}
.listItem .item1{
	background-color: #5F3E2D;
	border-color: #5F3E2D;
	margin: 0 4px 0 0;
}
.listItem .item2{
	background-color: #B75929;
	border-color: #B75929;
}
@media (max-width: 768px) {
	.classProductList .list{
		width: 48.275862%;
	}
    .classProductList .list{
        margin-bottom: 40px;
    }
}
@media (max-width: 375px){
	.classic .classProduct{
		padding-top: 40px;
	}
    .classProduct h2{
        font-size: 24px;
    }
	.classProduct .mb-32{
        font-size: 24px;
		margin-bottom: 24px;
	}
	.classProductList .list{
		width: 100%;
		margin-bottom: 24px;
	}
}
.pageBar li{
	border-color: #555555;
	border-style: solid;
	border-width: 1px 1px 1px 0;
}
.pageBar a{
	color: #555555;
}
.pageBar .back{
	border-left: 1px solid #555555;
}
.pageBar a{
	padding: 11px 15.5px;
}
.back a,.next a{
	line-height: 27px;
}
.next a{
	background-color: #F2F2F2;
}
.pageBar a:hover{
	filter: drop-shadow(0 0 0 #FFFFFF);
	background-color: #000000;
	color: #FFFFFF;
}
@media (max-width: 768px) {
	.pageBar{
		padding-top: 40px;
	}
}
@media (max-width: 375px) {
	.container .pageBar{
		padding-bottom: 64px;
	}
    .pageBar a{
        font-size: 16px;
        line-height: 1.5 !important;
    }
}

//sunglasses
.sunglass{
    display: none;
}
//banner-p seting 37 & 43
@media (max-width: 768px){
	.banner-p{
		max-width: 1138px;
        max-height: 296px;
	}
    .sunglass .item1 img{
        content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true);
    }
    .sunglass .item2 img{
        content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true);
    }
}
.sunProduct h2{
    color: #000000;
    font-weight: 500;
}
.sunProductList{
    flex-wrap: wrap;
}
.sunProductList .list{
    width: 32.098765%;
}
@media (max-width: 768px) {
	.sunProductList .list{
		width: 48.275862%;
	}
    .sunProductList .list{
        margin-bottom: 40px;
    }
}
@media (max-width: 375px){
	.sunglass .sunProduct{
		padding-top: 40px;
	}
    .sunProduct h2{
        font-size: 24px;
    }
	.sunProduct .mb-32{
        font-size: 24px;
		margin-bottom: 24px;
	}
	.sunProductList .list{
		width: 100%;
		margin-bottom: 24px;
	}
}

//func
.func{
    display: none;
}
.func h2{
    text-align: center;
}